/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #447cf6;
  --ifm-color-primary-dark: #2f6ef5;
  --ifm-color-primary-darker: #2661e0;
  --ifm-color-primary-darkest: #1b49ac;
  --ifm-color-primary-light: #598bf7;
  --ifm-color-primary-lighter: #6e99f8;
  --ifm-color-primary-lightest: #97b6fa;
  --ifm-code-font-size: 95%;
}

:root {
  --docusaurus-highlighted-code-line-bg: #0000001a;
}

/* If you have a different syntax highlighting theme for dark mode. */
[data-theme='dark'] {
  /* Color which works with dark mode syntax highlighting theme */
  --docusaurus-highlighted-code-line-bg: #42424259;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.flow-chart {
  --ifm-pre-line-height: 1.2;
}

.tabs {
  border: 1px solid #555;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.tabs > .tabs__item {
  border-right: 1px solid #555;
  border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.tabs + div {
  border: 1px solid #555;
  border-top-width: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: 0 !important;
  overflow: hidden;
}

.runtime-tabs + div > div[role="tabpanel"] {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
}

div[role="tabpanel"] > div:nth-child(1) > div > .prism-code {
  border-radius: 0;
}

.theme-doc-sidebar-item-link-level-2, .theme-doc-sidebar-item-category-level-2 {
  font-size: 0.95em;
}

.theme-doc-sidebar-item-link-level-3 {
  font-size: 0.9em;
}
